
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel=stylesheet href="{{=URL('static','css/custom.css')}}" />
    {{include 'web2py_ajax.html'}}
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=visualization&key=AIzaSyCAJ4DHx6qRQf1kWa-KDpEswoj629VNSwA"></script>
      <script>
      var map;
      var incidentsLayer;
      var cadastreLayer;
      var hydrologyLayer;
      var telecomLayer;
      var zoningLayer;
      var imageLayer;
      var parksLayer;
      var childcareLayer;
      var schoolsLayer;
      var wasteLayer

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-31.88415, 116.23855),
          zoom: 11,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          disableDefaultUI: true,
          mapTypeControl: true
          };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var infoWindowOptions = {
          content:"loading"
        };
        var infoWindow = new google.maps.InfoWindow(infoWindowOptions);

        var addListener = function (layer) {
          google.maps.event.addListener(layer, 'click', function(event) {
            var infoWindowContent = event.infoWindowHtml;
            var infoWindowPosition = event.latLng;
            infoWindow.setContent(infoWindowContent);
            infoWindow.setPosition(infoWindowPosition);
            infoWindow.open(map);
          });
        };

        imageLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00005',
          map: map,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });

        cadastreLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00001',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(cadastreLayer);

        incidentsLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00004',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(incidentsLayer);

        hydrologyLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00003',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(hydrologyLayer);

        telecomLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00008',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(telecomLayer);

        zoningLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00009',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(zoningLayer);

        wasteLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00010',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(wasteLayer);

        schoolsLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00011',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(schoolsLayer);

        childcareLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00012',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(childcareLayer);

        parksLayer = new google.maps.visualization.MapsEngineLayer({
          mapId: '16075412419356476951-03664761241047799960',
          layerKey: 'layer_00013',
          map: null,
          clickable: 'true',
          suppressInfoWindows: 'false',
        });
        addListener(parksLayer);
      };

      function updateOptions() {
        var form = document.options;

        if (form.incidentsLayerControl.checked){
          incidentsLayer.setMap(map);
        } else {
          incidentsLayer.setMap(null);
        }

        if (form.cadastreLayerControl.checked){
          cadastreLayer.setMap(map);
        } else {
          cadastreLayer.setMap(null);
        }

        if (form.hydrologyLayerControl.checked){
          hydrologyLayer.setMap(map);
        } else {
          hydrologyLayer.setMap(null);
        }

        if (form.telecomLayerControl.checked){
          telecomLayer.setMap(map);
        } else {
          telecomLayer.setMap(null);
        }

        if (form.zoningLayerControl.checked){
          zoningLayer.setMap(map);
        } else {
          zoningLayer.setMap(null);
        }

        if (form.parksLayerControl.checked){
          parksLayer.setMap(map);
        } else {
          parksLayer.setMap(null);
        }

        if (form.childcareLayerControl.checked){
          childcareLayer.setMap(map);
        } else {
          childcareLayer.setMap(null);
        }

        if (form.schoolsLayerControl.checked){
          schoolsLayer.setMap(map);
        } else {
          schoolsLayer.setMap(null);
        }

        if (form.wasteLayerControl.checked){
          wasteLayer.setMap(map);
        } else {
          wasteLayer.setMap(null);
        }

        if (form.imageLayerControl.checked){
          imageLayer.setMap(map);
        } else {
          imageLayer.setMap(null);
        }
      };
    </script>
    
  </head>

  <body onload="initialize()">
    <div id="map-canvas"></div>
    <div id="layerList">
      <form name="options" action="javascript:updateOptions();">
        <input type="checkbox" onclick="updateOptions()" name="incidentsLayerControl" />Incidents - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="cadastreLayerControl" />Cadastre - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="hydrologyLayerControl" />Hydrology - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="telecomLayerControl" />Telecommunications - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="zoningLayerControl" />Zoning - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="parksLayerControl" />Parks - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="childcareLayerControl" />Child Care - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="schoolsLayerControl" />Schools - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="wasteLayerControl" />Waste Management - Mundaring<br />
        <input type="checkbox" onclick="updateOptions()" name="imageLayerControl" checked />Aerial Imagery - Mundaring<br />
      </form>
    </div>
  </body>

</html>